/*styles.css*/

*{
    font-family: "Verdana", sans-serif;
    box-sizing: border-box;
    

/*index*/

.index{
    background-color: rgb(34, 39, 39);

}

.inicio{
    background-color: rgba(250, 235, 215, 0.126);
    padding: 20px;
    height: auto ;
    width: 300px;
    margin: 0 auto;
}
.titulo{
    text-align: center;
    line-height: 50px;
    color: rgb(229, 236, 192);
}
.recetas { /*elimina sangría a la izquierda*/
    padding: 0px;
}
.recetas li, a{
    color:yellowgreen;
    text-decoration: none;
    list-style: none;
    text-align: center;
    padding: 0px;
}
/*not yet pat of the curriculum but I saw it on one 
of the assignment links and wanted to try it*/
.recetas li, a:hover { 
    color:rgb(220, 180, 18);
    text-decoration: none;
    list-style: none;
    text-align: center;
    line-height: 30px;
    padding: 8px;
}

.inicio_boton{
    background-color:rgba(35, 122, 159, 0.45);
    padding: 0px;
    margin: 10px;
}

/*recetas*/
.pag-recetas{
    background-color: rgb(78, 32, 40);
    color: rgb(203, 188, 168);
}

.centro{
    text-align: center;
}

.centro-img{
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.nombre-rec{
    color: rgb(227, 179, 134);
    text-align: center;
}

.subtitulo{
    color: bisque;
}
}